<div class="container">
    <mat-card>
      <mat-card-header class="header">
        <mat-card-title>Cadastro de Usuário</mat-card-title>
      </mat-card-header>
  
      <mat-card-content>
        <form action="#" id="main-form" #form="ngForm">
          <div class="form-row">
            <mat-form-field appearance="outline">
              <mat-label>Nome</mat-label>
              <input [(ngModel)]="nome" #inputNome="ngModel" name="nome" type="text" required  matInput
                placeholder="Digite seu nome">
              <mat-error>
                <span *ngIf="inputNome.errors?.['required']">Campo obrigatório</span>
              </mat-error>
            </mat-form-field>
  
            <mat-form-field appearance="outline">
              <mat-label>Sobrenome</mat-label>
              <input [(ngModel)]="sobrenome" name="sobrenome" #inputSobrenome="ngModel" type="text" matInput
                placeholder="Digite seu sobrenome">
            </mat-form-field>
  
            <mat-form-field appearance="outline">
              <mat-label>Username</mat-label>
              <input [(ngModel)]="username" name="username" #inputUsername="ngModel" type="text" required matInput
                placeholder="Digite seu username">
              <mat-error>Campo obrigatório</mat-error>
            </mat-form-field>
          </div>
  
          <div class="form-row">
            <mat-form-field appearance="outline" class="grow">
              <mat-label>CPF</mat-label>
              <input [(ngModel)]="cpf" name="nome" #inputCPF="ngModel" type="cpf" required matInput
                placeholder="Digite seu cpf">
              <mat-error>Campo obrigatório</mat-error>
            </mat-form-field>
  
            <mat-form-field appearance="outline" class="grow">
              <mat-label>Telefone</mat-label>
              <input [(ngModel)]="telefone" name="telefone" type="tel" #inputTelefone="ngModel" required matInput
                placeholder="Digite seu telefone">
              <mat-error>Campo obrigatório</mat-error>
            </mat-form-field>
          </div>
  
          <div class="form-row">
            <mat-form-field appearance="outline" class="grow">
              <mat-label>Endereço</mat-label>
              <input [(ngModel)]="endereco" name="endereco" type="text" #inputEndereco="ngModel" required matInput
                placeholder="Digite seu endereço">
              <mat-error>Campo obrigatório</mat-error>
            </mat-form-field>
  
            <mat-form-field appearance="outline" class="grow">
              <mat-label>Complemento</mat-label>
              <input [(ngModel)]="complemento" name="complemento" type="text" #inputCompleto="ngModel" matInput
                placeholder="Ex: apto, casa">
            </mat-form-field>
          </div>
  
          <div class="form-row">
            <mat-form-field appearance="outline" class="grow">
              <mat-label>Senha</mat-label>
              <input [(ngModel)]="senha" name="senha" type="password" #inputSenha="ngModel" required minlength="4" matInput
                placeholder="Digite sua senha">
              <mat-error>Campo obrigatório
                <span *ngIf="inputSenha != inputconfirma">As senhas precisam ser iguais</span>
                <span *ngIf="inputSenha.errors?.['required']">Curto demais</span>
                <span *ngIf="inputSenha.errors?.['minlength']">A senha precisa ter no mínimo 4 caracteres</span>
              </mat-error>
            </mat-form-field>
  
            <mat-form-field appearance="outline" class="grow">
              <mat-label>Confirmar senha</mat-label>
              <input [(ngModel)]="confirmarsenha" name="confirmarsenha" type="password" #inputconfirma="ngModel" matInput
                placeholder="Digite sua senha" required minlength="4">
              <mat-error>Campo obrigatório
                <span *ngIf="inputSenha != inputconfirma">As senhas precisam ser iguais</span>
                <span *ngIf="inputSenha.errors?.['required']">As senhas precisam ser iguais</span>
                <span *ngIf="inputSenha.errors?.['minlength']">A senha precisa ter no mínimo 4 caracteres</span>
              </mat-error>
            </mat-form-field>
          </div>
  
          <div>
            <button mat-raised-button type="submit" color="primary" class="button"
              [disabled]="form.invalid || validarSenha(inputSenha.value, inputconfirma.value)"
              (click)="submit()">Enviar</button>
          </div>
  
        </form>
      </mat-card-content>
    </mat-card>
  </div>